/*---- Background images -----*/ 
		ul.list-app li span, .menu-item, .menu-item-sub, .icofeed{ background-image:url('http://localhost/nevergiveup/images/appsprite-1.74.png'); background-repeat:no-repeat;}
		#left-menu{width:143px;_width:140px;float:left; display:inline; position:relative;margin-bottom: 10px;}
				.menu-app a:hover, .menu-app a.current, .menu-app-sub a:hover{ border-top:1px solid #c8d4e5;border-bottom:1px solid #c8d4e5; text-decoration:none; background:#fff url(/nevergiveup/images/bghovermenu.gif) repeat-x 0 bottom;}
				.menu-app a, .menu-app-sub a{padding:3px 10px 2px; display:block;color:#000;border-top:1px solid #fff;border-bottom:1px solid #fff;}
        .menu-app a em.dynamic_counter, .submenu em.dynamic_counter{display:none;float:right;background-color:#d9514e;color:#fff;padding:1px 4px;font-weight:bold;font-size:10px;line-height:normal;font-style:normal;-moz-border-radius:2px;-webkit-border-radius:2px;}
        .submenu em.dynamic_counter{margin-top:3px;}
				.menu-item{height: 17px;white-space: nowrap; width:16px; float:left}
				.menu-app .app-active{ background-position:0 -106px; float:right; width:5px; height:10px;margin-top:7px;}	
				.menu-item-sub{ font-weight:normal;height: 17px;float:left; width:16px; white-space:nowrap;}
					ul.submenu{ background:none !important; list-style:none; padding:0; margin:0 10px}
					ul.submenu li{ border-bottom:1px solid #EAEFF4; padding:3px 0 3px 20px; height:20px;}
					ul.submenu li.end{ border-bottom:none;}
					ul.submenu li.active{color: #444;font-weight: bold;}
					ul.submenu li a{ color:#555;display:block;}
					ul.submenu li:hover{text-decoration:none; cursor:pointer;}
				.titappli{font-weight:bold;height:20px;line-height: 19px;margin:5px 10px 1px 10px; border-top:1px solid #EAEFF4;padding-top: 6px;}				
				.titappli:hover{ cursor:pointer;}
				#left-menu .padleft{ margin-left:4px;}
			/*-----Main Content--------*/
			.icofeed, .icofapp {height:18px;width:16px;margin-right: 4px;float: left;}

/* begin auto gen by bacon */
.ficon_blog{background-position:-1456px -0px;}
.ficon_photo{background-position:-1440px -0px;}
.ficon_mp3{background-position:-1424px -0px;}
.ficon_group{background-position:-1408px -0px;}
.ficon_hrsc{background-position:-1392px -0px;}
.ficon_gift{background-position:-1376px -0px;}
.ficon_link{background-position:-1360px -0px;}
.ficon_info-edit{background-position:-1344px -0px;}
.ficon_star{background-position:-1328px -0px;}
.ficon_msg{background-position:-1312px -0px;}
.ficon_status{background-position:-1296px -0px;}
.ficon_info{background-position:-1280px -0px;}
.ficon_friend{background-position:-1264px -0px;}
.ficon_hh{background-position:-1248px -0px;}
.ficon_fgg{background-position:-1232px -0px;}
.ficon_hrst{background-position:-1216px -0px;}
.ficon_ffs{background-position:-1200px -0px;}
.ficon_carparking{background-position:-1184px -0px;}
.ficon_vote{background-position:-1168px -0px;}
.ficon_quiz{background-position:-1152px -0px;}
.ficon_ecard{background-position:-1136px -0px;}
.ficon_hopqua{background-position:-1120px -0px;}
.ficon_hrs{background-position:-1104px -0px;}
.ficon_hotornot{background-position:-1088px -0px;}
.ficon_rds{background-position:-1072px -0px;}
.ficon_mobile{background-position:-1056px -0px;}
.ficon_fbapp{background-position:-1040px -0px;}
.ficon_minigame{background-position:-1024px -0px;}
.ficon_123mua{background-position:-1008px -0px;}
.ficon_hoidap{background-position:-992px -0px;}
.ficon_cunyeu{background-position:-976px -0px;}
.ficon_gunny{background-position:-1952px -0px;}
.ficon_myfarm{background-position:-1936px -0px;}
.ficon_bejeweled{background-position:-1920px -0px;}
.ficon_trangnguyen{background-position:-1904px -0px;}
.ficon_ntvv2{background-position:-1888px -0px;}
.ficon_funnyphoto{background-position:-1872px -0px;}
.ficon_zingplay{background-position:-1856px -0px;}
.ficon_mtv{background-position:-1840px -0px;}
.ficon_kvtm{background-position:-1824px -0px;}
.ficon_game-tala{background-position:-1808px -0px;}
.ficon_garagames{background-position:-1792px -0px;}
.ficon_hf{background-position:-1776px -0px;}
.ficon_credits{background-position:-1760px -0px;}
.ficon_tinnhanhinhzms{background-position:-1744px -0px;}
.ficon_tinnhanhinhzms{background-position:-1728px -0px;}
.ficon_cutepig{background-position:-1712px -0px;}
.ficon_fish{background-position:-1696px -0px;}
.ficon_myplay{background-position:-1680px -0px;}
.ficon_treoco{background-position:-1664px -0px;}
.ficon_unin{background-position:-1648px -0px;}
.ficon_game-poker{background-position:-1632px -0px;}
.ficon_game-tienlen{background-position:-1616px -0px;}
.ficon_photo360{background-position:-1600px -0px;}
.ficon_devuong{background-position:-1584px -0px;}
.ficon_boom{background-position:-1568px -0px;}
.ficon_vigame{background-position:-1552px -0px;}
.ficon_huyhieu{background-position:-1536px -0px;}
.ficon_tradiemthi{background-position:-1520px -0px;}
.ficon_chanvn{background-position:-1504px -0px;}
.ficon_happycity{background-position:-1488px -0px;}
.ficon_cotuong{background-position:-1472px -0px;}
.ficon_tienlen{background-position:-464px -0px;}
.ficon_game-bacay{background-position:-448px -0px;}
.ficon_sukien{background-position:-432px -0px;}
.ficon_homeland_defense{background-position:-416px -0px;}
.ficon_wlc{background-position:-400px -0px;}
.ficon_4share{background-position:-384px -0px;}
.ficon_chungthuc{background-position:-368px -0px;}
.ficon_elsword{background-position:-352px -0px;}
.ficon_hangrong{background-position:-336px -0px;}
.ficon_game-chan{background-position:-320px -0px;}
.ficon_ketnoitruongsa{background-position:-304px -0px;}
.ficon_game-binh{background-position:-288px -0px;}
.ficon_chromepilot{background-position:-272px -0px;}
.ficon_cafemot{background-position:-256px -0px;}
.ficon_moly{background-position:-240px -0px;}
.ficon_thongtuong{background-position:-224px -0px;}
.ficon_thoidaivanminh{background-position:-208px -0px;}
.ficon_anhhungonline{background-position:-192px -0px;}
.ficon_promotion{background-position:-176px -0px;}
.ficon_ssgarden{background-position:-160px -0px;}
.ficon_game-poker-texas{background-position:-144px -0px;}
.ficon_cungmuasam{background-position:-128px -0px;}
.ficon_zingdeal{background-position:-112px -0px;}
.ficon_xpet{background-position:-96px -0px;}
.ficon_jayvietonline{background-position:-80px -0px;}
.ficon_islandcafe{background-position:-64px -0px;}
.ficon_happytribe{background-position:-48px -0px;}
.ficon_game-langquat{background-position:-32px -0px;}
.ficon_volamchimong{background-position:-16px -0px;}
.ficon_bigbang{background-position:-0px -0px;}
.ficon_ngoalong{background-position:-960px -0px;}
.ficon_daigia{background-position:-944px -0px;}
.ficon_tweet{background-position:-928px -0px;}
.ficon_zingspeed{background-position:-912px -0px;}
.ficon_sv2012{background-position:-896px -0px;}
.ficon_tala{background-position:-880px -0px;}
.ficon_aniworld{background-position:-864px -0px;}
.ficon_pokerquyetthang{background-position:-848px -0px;}
.ficon_bavuong{background-position:-832px -0px;}
.ficon_sach{background-position:-816px -0px;}
.ficon_sharefile{background-position:-800px -0px;}
.ficon_zingnews{background-position:-784px -0px;}
.ficon_upcity{background-position:-768px -0px;}
.ficon_thanbai{background-position:-752px -0px;}
.ficon_tuyensinh{background-position:-736px -0px;}
.ficon_hungba{background-position:-720px -0px;}
.ficon_bnxt{background-position:-704px -0px;}
.ficon_ssolympia{background-position:-688px -0px;}
.ficon_tienmatruyenky{background-position:-672px -0px;}
.ficon_vipgames{background-position:-656px -0px;}
.ficon_chanlong{background-position:-640px -0px;}
.ficon_thapdienmaiphuc{background-position:-624px -0px;}
.ficon_cuuthien{background-position:-608px -0px;}
.ficon_dechequatkhoi{background-position:-592px -0px;}
.ficon_dacky{background-position:-576px -0px;}
.ficon_longtuong{background-position:-560px -0px;}
.ficon_chipzin{background-position:-544px -0px;}
.ficon_goal{background-position:-528px -0px;}
.ficon_fp_choemnucuoi2012{background-position:-512px -0px;}
.ficon_3quoc{background-position:-496px -0px;}
.ficon_manhtuongvosong{background-position:-480px -0px;}
/* end auto gen by bacon */
	.btn-viewmore {background-position:0 -90px; width:64px; height:19px; display:block; margin:10px; overflow:hidden;}
	.btn-viewmore:hover {background-position:0 -109px;}
	.btn-viewmore input{background:none; border:none; cursor:pointer; width:82px; height:19px;}
	.usermenult{}
	.boxusermenult{height:35px; overflow:hidden; padding:10px 10px 8px; _padding:8px}

	.avtmenult{width:35px; float:left;}
	.namemenult{ margin-left:40px; font-weight:bold;}
	.editmenult{width:15px; height:10px; background-position:0 -677px; display:inline-block; margin-bottom:0; padding: 0px;}

.pointusermenult{padding:0 0 5px 10px; font-size:12px;}
.pointusermenult.line{ border-bottom:1px solid #eaeff4; margin-bottom:3px;}
.ctnpointmenult{margin-left:-5px;margin-left:-2px; color:#888;}
.txtpointusermenult{font-weight:bold; color:#fa9f00;}
@media screen and (-webkit-min-device-pixel-ratio:0) {.moveLeft .l_menu_apps.fixed_pos{margin-left: -95px;}}
